<!--FORM AREA-->
<div class="form_mainarea">
    <form name="addUserEducationForm">

        <!--Form Part 1: Institution Selection -->
        <div id="div_stateSelect" ng-hide="institutionSelected">
            &nbsp;&nbsp;&nbsp;
            <!--State Dropdown-->
            <md-input-container>
                <label>State</label>
                <md-select id="stateselect" ng-model="userState" ng-change="searchState(userState)" ng-disabled="otherinstitution">
                    <md-option ng-repeat="state in states" ng-value="state.abbrev">
                        {{state.abbrev}}
                    </md-option>
                </md-select>
            </md-input-container>
            &nbsp;&nbsp;&nbsp;

            <!--State Search Box-->
            <input id="searchbox" ng-model="searchtext" placeholder="search in selected state..." style="width:350px;" ng-disabled="formData.otherinstitution">

            <!--Other Institution Options-->
            <div style="padding-left:20px;">
                <md-checkbox ng-model="formData.otherinstitution" ng-change="otherinstitutionchecked()">
                    Other
                </md-checkbox>
                &nbsp;
                <input type="text" id="otherinstitutiondesc" placeholder="institution name..." ng-model="formData.otherinstitutiondesc" ng-disabled="!formData.otherinstitution">
                <md-button class="md-raised md-primary" ng-click="selectInstitution('0')" ng-disabled="!formData.otherinstitution">Select Institution</md-button>
            </div>

            <div style="clear: both;padding-top:10px;"></div>

            <!--State Search Results-->
            <div ng-hide="searchtext.length < 2">

                <div ng-repeat="(key,value) in institutions | filter:searchtext">

                    <md-card>
                        <md-card-title>
                            <md-card-title-text>
                                <span style="font-size:20px;">{{ value.name }}</span>
                                <span style="font-size:14px;">{{ value.city }}, {{ value.state }}</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button class="md-raised md-primary" ng-click="selectInstitution(value)">Select Institution</md-button>
                        </md-card-actions>
                    </md-card>
                </div>


            </div>

        </div>
        <!--Form Part 2: Award Selection -->
        <div id="div_degreeSelect" ng-show="institutionSelected">

            <!--Institution Details-->
            <div style="float:left;">
                <div style="font-size:18px"><strong>{{selectedInstitution.name}}</strong></div>
                <div style="font-size:14px">{{selectedInstitution.city}}, {{selectedInstitution.state}}</div>
            </div>

            <div style="clear:both;padding-top:20px;"></div>

            <!--Degree Level Dropdown-->
            <md-input-container>
                <label>Degree Level</label>
                <md-select id="degreelevelselect" ng-model="formData.degreelevel" ng-change="searchdegreelevel(formData.degreelevel)" aria-label="Degree Level">
                    <md-option ng-repeat="(key,value) in degreelevels" ng-value="value.id">
                        {{value.name}}
                    </md-option>
                </md-select>
            </md-input-container>
            &nbsp;&nbsp;
            <!--Degree Type Dropdown-->
            <md-input-container>
                <label>Degree Type</label>
                <md-select id="degreetypeselect" ng-model="formData.degreetype" aria-label="Degree Type">
                    <md-option ng-repeat="(key,value) in degreetypes" ng-value="value.id">
                        {{value.name}}
                    </md-option>
                </md-select>
            </md-input-container>

            <div style="clear:both;padding-top:20px;"></div>

            <!--Major Minor Div-->
            <div id="div_majorminor" ng-show="enableMajorMinor">

                <!--Major Dropdown-->
                <md-input-container>
                    <label>Major Field of Study</label>
                    <md-select id="majorselect" ng-model="formData.major" aria-label="Major" ng-disabled="formData.othermajor">
                        <md-option><em>None</em></md-option>
                        <md-option ng-repeat="(key,value) in majors" ng-value="value.id">
                            {{value.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <!--Other Major Options-->
                <div style="padding-left:20px;">
                    <md-checkbox ng-model="formData.othermajor" ng-change="othermajorchecked()">
                        Other
                    </md-checkbox>
                    &nbsp;
                    <input type="text" id="othermajordesc" placeholder="major name..." ng-model="formData.othermajordesc" ng-disabled="!formData.othermajor">
                </div>

                <div style="clear:both;padding-top:20px;"></div>

                <!--Minor Dropdown-->
                <md-input-container>
                    <label>Minor Field of Study</label>
                    <md-select id="minorselect" ng-model="formData.minor" aria-label="Minor" ng-disabled="formData.otherminor">
                        <md-option><em>None</em></md-option>
                        <md-option ng-repeat="(key,value) in minors" ng-value="value.id">
                            {{value.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <!--Other Minor Options-->
                <div style="padding-left:20px;">
                    <md-checkbox ng-model="formData.otherminor" ng-change="otherminorchecked()">
                        Other
                    </md-checkbox>
                    &nbsp;
                    <input type="text" id="otherminordesc" placeholder="minor name..." ng-model="formData.otherminordesc" ng-disabled="!formData.otherminor">
                </div>

                <!--Confirm Major/Minor Button-->
                <div style="float:right;">
                    <md-button class="md-raised md-primary" ng-click="selectMajorMinor()">Continue</md-button>
                </div>

            </div>

            <!--Certification Div-->
            <div id="div_certification" ng-show="enableCertification">

                <!--Certification Search Box-->
                <input id="searchboxcert" ng-model="searchtextcert" placeholder="search certifications..." style="width:350px;" ng-disabled="formData.othercertification">

                <!--Other Certification Options-->
                <div style="padding-left:20px;">
                    <md-checkbox id="othercertificationcheck" ng-model="formData.othercertification" ng-change="othercertificationchecked()">
                        Other
                    </md-checkbox>
                    &nbsp;
                    <input type="text" id="othercertificationdesc" placeholder="certification name..." ng-model="formData.othercertificationdesc" ng-disabled="!formData.othercertification">
                    <md-button class="md-raised md-primary" ng-click="selectCertification('0')" ng-disabled="!formData.othercertification">Select Certification</md-button>
                </div>

                <div style="clear: both;padding-top:10px;"></div>

                <!--Certification Search Results-->
                <div ng-hide="searchtextcert.length < 2">

                    <div ng-repeat="(key,value) in certifications | filter:searchtextcert">

                        <md-card>
                            <md-card-title>
                                <md-card-title-text>
                                    <span style="font-size:18px;">{{ value.name }}</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button class="md-raised md-primary" ng-click="selectCertification(value)">Select Certification</md-button>
                            </md-card-actions>
                        </md-card>
                    </div>


                </div>

            </div>

            <!--Completion Div-->
            <div id="div_completion" ng-show="enableCompletion">

                <div style="font-size:18px">{{selectedField.title01}}</div>
                <div style="font-size:18px">{{selectedField.title02}}</div>

                <div style="clear: both;padding-top:20px;"></div>

                <!--Completed Checkbox-->
                <md-checkbox id="completed" ng-model="formData.completed">
                    Academic Requirements Completed
                </md-checkbox>

                <div style="clear:both;padding-top:20px;"></div>

                <!--Completion Datepicker-->
                <md-datepicker ng-model="formData.completiondate" md-placeholder="Enter date"></md-datepicker>
                <label>Date of Graduation/Award</label>
                <div style="padding-top:30px;"></div>

                <!--Submit Button-->
                <div style="float:right;width:75px;">
                    <md-button ng-click="submitform()" class="md-raised md-primary">SUBMIT</md-button>
                </div>
            </div>

                <!--Clear/Reset Form-->
                <div style="float:right;width:75px;padding-right:50px;">
                    <md-button ng-click="clear()" class="md-raised md-warn ">CLEAR</md-button>
                </div>

            </div>
        
        <div style="clear:both;padding-top:30px;"></div>

    </form>
</div>